// SITE

$site-width: 800px;
$site-margin: 5%;

// BREAKPOINTS

$tablet: 768px;
$desktop: 1024px;

// GRID

$default-cols: 6;
$default-col-padding: 1rem;

// FONTS

$body: helvetica, arial, sans-serif;
$heading: georgia, serif;
$code: monospace;

// TYPE SIZES

$small-type: .8rem;
$default-type: 1rem;
$large-type: 1.25rem;
$subheading-type: 1.6rem;
$heading-type: 2.4rem;
$title-type: 3rem;
$display-type: 6rem;

// COLOURS

$white: #f5f5f5;
$black: #444;
$pink: #c6538c;
$purple: #663399;
$orange: #fe5f55;
$red: #ff6663;
$grey: #c1c1c1;
$yellow: #ffcf9c;
$dark-grey: #666;
$light-grey: #f3e9e5;
