html {

  }

  body {
	max-width: 50rem;
	margin: 0 5%;
  }

  header {
	margin-top: 1rem;
	text-align: center;
  }

  section {
	margin-top: 5rem;
  }

  section section {
	margin-top: 3rem;

	&:first-of-type {
	  margin-top: 0;
	}
  }

  footer {
	text-align: center;
  }

  h1 {
	font-weight: bold;
	margin-bottom: .25rem;
	line-height: 1.1;
  }

  h2 {
	margin-bottom: 0;
  }

  h3 {
	margin-bottom: .25em;

	span {
		font-size: 75%;
	}
  }

  h4 {
  }

  p {
	margin-bottom: 1em;
	margin-top: 0;
  }

  header p {

	.fa {
	  font-size: .8em;
	}

	&:last-child {
	  text-align: center;
	}
  }

  a:link, a:visited {
	text-decoration: none;
  }

  a:active, a:hover, a:focus {
	text-decoration: underline;
  }