<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/assets/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <title>Dean Harris</title>
</head>

<body>
  <header>
    <h1>Dean Harris</h1>
    <p>405/8 Masters St,<br />Newstead, QLD, 4006</p>
    <p><a href="tel:040184585"><i class="fa fa-phone"></i> 0401 844 585</a> | <a href="mailto:dean@harris.tc"><i class="fa fa-envelope"></i> dean@harris.tc</a> | <a href="http://deanharris.co"><i class="fa fa-globe"></i> deanharris.co</a> | <a href="http://github.com/deanacus"><i class="fa fa-github-alt"></i> github.com/deanacus</a></p>
  </header>
  <main>